@font-face {
  font-family: "iconfont"; /* Project id 2988642 */
  src: url('iconfont.woff2?t=1638757990349') format('woff2'),
       url('iconfont.woff?t=1638757990349') format('woff'),
       url('iconfont.ttf?t=1638757990349') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e676";
}

.icon-eye-close:before {
  content: "\e66f";
}

.icon-favorite:before {
  content: "\e670";
}

.icon-minus:before {
  content: "\e67a";
}

.icon-select:before {
  content: "\e67e";
}

.icon-unlock:before {
  content: "\e682";
}

.icon-favorite-filling:before {
  content: "\e68a";
}

.icon-add:before {
  content: "\e664";
}

.icon-browse:before {
  content: "\e666";
}

.icon-back:before {
  content: "\e667";
}

.icon-close:before {
  content: "\e668";
}

.icon-export:before {
  content: "\e66e";
}

